@charset "UTF-8";
/* CSS Document */
*{
	outline:none;
}
html{
	height:100%;
	background:white;
}
body{
	height:100%;
	min-height:100%;
	padding:0;
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:80%;
	background:white;
	color:#555555;
}
/* selection color */
*::selection {
	background:#074575;
	color:#EFEFEB;
}

*::-moz-selection {
	background:#074575;
	color:#EFEFEB;
}

*::-webkit-selection {
	background:#074575;
	color:#EFEFEB;
}
a{
	color:#074575;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
#main {padding-bottom: 180px;}  /* must be same height as the footer */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
img{
	border:none;
}
#container {
	width:100%;
	bottom:0;
	top:0;
	margin:0 auto;
	position:relative;
	min-height:100%;
	clear:both;
	background:url(../images/contentBotobBG.jpg) bottom center repeat-x;
}

#langHolder{
	width:106px;
	height:30px;
	position:absolute;
	right:0;
	top:40px;
	z-index:89;
}
#langHolder .lngHolder{
	width:106px;
	height:30px;
	position:relative;
	overflow: hidden;
}
#lang_ar{
	width:106px;
	height:30px;
	position:absolute;
	left:-80px;
	top:0;		
	background:url(../images/arabicLangLinkBG.png) right center no-repeat;
}
#lang_en{
	width:106px;
	height:30px;
	position:absolute;
	right:-80px;
	top:0;		
	
}
#lang_en a{
	display:block;
	width:106px;
	height:30px;
	background:url(../images/arabicLangLinkBG.png) right center no-repeat;	
}
#lang_ar a{
	display:block;
	width:106px;
	height:30px;
	background:url(../images/arabicLangLinkBG.png) right center no-repeat;	
}

#siteMapBtn{
	position:absolute;
	height:20px;
	width:100px;
	color:#FFF;
	right:100px;
	background:url(../images/top_link_sep.png) left no-repeat;
	display:none;
}
#selectLang{
	position:absolute;
	height:20px;
	width:100px;
	color:#FFF;
	right:0;
	background:url(../images/top_link_sep.png) left no-repeat;
	display:none;
}
#selectLang span,#siteMapBtn span{
	background:url(../images/downArrow.png) right center no-repeat;
	display:block;
	float:left;
	width:90px;
	padding:5px 0px;
	margin:0 5px 0 5px;
	text-align:center;
}
#welcomeHolder{
	width:669px;
	height:12px;
	position:absolute;
	right:-2px;
	top:5px;
	text-align:right;
	color:#EFEFEB;
	font-size:10px;
}
#welcomeHolder a.logOut{
	text-decoration:underline;
	color:#ffffff;
	font-weight:bold;
}

#header {
	background: url(../images/topSpacer.png) bottom center no-repeat;
	position:relative;
	margin:0 auto;
	width:960px;
	height:108px;
	left:0px;
	top:0px;
	clear:both;
	z-index:100;
}
#header #logo {
	position:absolute;
	width:64px;
	height:70px;
	left:0px;
	top:32px;
}
#header #logo a {
	background:none;
}
#headermenu {
	width:100%;
}
#headermenu {
	margin:0;
	padding:0;
	text-align:left;
	padding-top:70px
}

#restofcontent {
	clear: left;
}
/*-----*/

/*----End Headers---------------------*/
/****----Site Map ----------*/
#siteMap{
	width:100%;
	height:auto;
	position:absolute;
	height:400px;
	top:-375px;
	z-index:110;	
}
#siteMap .siteMapContent{
	background:#005f7d;
	height:375px;
	width:100%;
	clear:both;
}
#siteMap .controlBar{
	background:url(../images/sitemapShadow.png) bottom repeat-x;
	height:25px;
	width:100%;
}

#siteMap .controlBar .relArea{
	width:960px;
	margin:0 auto;
	position:relative;
	height:22px;
	/*background:url(../images/top_link_sep.png) right no-repeat;*/
}

/****----END Site Map ----------*/
/*** CONTENT -------*/
#content{
	margin:0 auto;
	width:960px;
}
.top{
	width:960px;
	min-height:620px;
	clear:both;
	margin-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:#B7B6AA dotted 1px;
}
.top .searchBlock{
	width:583px;
	height:323px;
	background:url(../images/search_block_bg.png) center center no-repeat;
	float:left;
	padding:15px;
	position:relative;
}
.top .searchArea{
	width:280px;
	height:500px;
	background: url(../images/searchBG.png) top left no-repeat;
	float:left;
	padding:10px;
}
.searchArea .field_block{
	width:280px;
	height:40px;
	margin-bottom:15px;
	clear:both;
}
.searchArea .date1{
	width:280px;
	float:left;
	clear:none;
	margin-top:10px;
}
.searchArea .date2{
	width:280px;
	float:left;
	clear:none;
	margin-bottom:5px;
}

.searchArea .field_block input[type="text"] {
    background: url(../images/fieldBG_142.png) no-repeat scroll center center transparent;
    border: medium none;
    color: #7E7C72;
    float: left;
    height: 15px;
    margin-right: 5px;
    padding: 5px 4px 3px 3px;
    text-indent: 5px;
    width: 135px;
}
.searchArea .date2 input[type="text"] {
	background:url(../images/fieldBG2.png) no-repeat scroll center center transparent;
	width:100px;
	margin-right: 0px;
}
.searchArea .date1 input[type="text"] {
	background:url(../images/fieldBG_182.png) no-repeat scroll center center transparent;
	width:175px;
}
.searchArea .search input[type="text"] {
	background: url(../images/fieldBG_182.png) no-repeat scroll center center transparent;
	width:175px;
	margin-right: 0px;
	margin-top:3px;
}
.searchArea .field_block select{
	width:100%;
}
.searchArea .date1 h1, .searchArea .date2 h1{
	float:left;
	width:70px;
}
.searchArea .field_block h1{
	font-size:16px;
	font-family: 'Cuprum', arial, serif;
	color:#7E7C72;
	font-weight:normal;
	margin:3px 0;
}
.searchArea .date2 select{
	float:left;
	margin-right:5px;
	width:95px;
}
.top .offersRandomArea{
	float:right;
	width:660px;
	height:520px;
}
.offersRandomArea .hotOffers{
	background:url(../images/hotOffers.png) no-repeat;
	width:621px;
	height:241px;
	padding:13px 15px 15px 13px;
	margin-left:14px;
}
.offersRandomArea .randoms{
	height:236px;
	width:649px;
	margin-left:14px;
	margin-top:14px;
	
}
.offersRandomArea .random1{
	width:288px;
	height:209px;
	padding:13px 15px 15px 13px;
	background:url(../images/randomSites1.png) no-repeat;
	float:left;
}

.offersRandomArea .random2{
	width:288px;
	height:209px;
	padding:13px 15px 15px 13px;
	background:url(../images/randomSites1.png) no-repeat;
	float:left;
	margin-left:16px;
}
.offersRandomArea .randomLink a{
	width:288px;
	height:209px;
	display:block;
	position:relative;
}
.offersRandomArea .randomLink a img{
	position:absolute;
	z-index:9;
}
.offersRandomArea .randomLink a h1{
	position:absolute;
	z-index:10;
	font-family:'Cuprum',arial,serif;
	font-size:24px;
	color:#ffffff;
	text-shadow:#000 1px 1px;
	padding-left:10px;
}

#ajax_loading{
	position:absolute;
	width:33px;
	height:33px;
	padding:2px 3px 2px 3px;
	right:20px;
	top:0;
	background:url(../images/ajax_loading_bg.png) top center no-repeat;
}
.top .recentBlock{
	width:337px;
	float:right;
}

.top .recentBlock .topPhoto{
	position:relative;
	width:337px;
	height:173px;
}
.top .recentBlock .topPhoto .frame{
	position:absolute;
	z-index:2;
	width:337px;
	height:173px;
	left:0;
	top:0;
	background:url(../images/right_photo_frame.png) left top no-repeat;
}
.top .recentBlock .topPhoto img{
	position:absolute;
	z-index:1;
	width:337px;
	height:173px;
	left:0;
	top:0;
}
.top .recentBlock .topPhoto .txt{
	position:absolute;
	z-index:3;
	width:307px;
	height:40px;
	right:20px;
	bottom:0;
	font-size:36px;
	color:#ffffff;
	text-shadow:#000 1px 1px;
	font-family: 'Cuprum', arial, serif;
	text-align:right;
}
.randomHotels {
	position:absolute;
	width:337px;
	height:180px;
}
.randomHotels .rndBlock{
	width:100%;
	clear:both;
	margin-top:8px;
	height:82px;
	float:left;
}
.randomHotels .rndBlock .hTitle{
	display:block;
	float:left;
	width:250px;
	font-size:14px;
	color:#074575;
	padding-bottom:3px;
}
.randomHotels .imgHolder{
	background: none repeat scroll 0 0 #E8E8E2;
    border: 1px solid #D5D4CB;
    display: block;
    float: left;
    padding: 5px;
	margin-right:5px;
}
.searchBlock h1.mainTitle{
	font-size:24px;
	font-family: 'Cuprum', arial, serif;
	color:#074575;
	font-weight:normal;
	border-bottom:#7E7C72 dotted 1px;
}
.h_container{
	clear:both;
	height:55px;
	border-bottom:#B7B6AA dotted 1px;
	margin-bottom:10px;
}
.searchBlock .end{
	border-bottom:none;
}
.check{
	float:left;
	width:275px;
	
}
.h_container h1{
	font-size:16px;
	font-family: 'Cuprum', arial, serif;
	color:#7E7C72;
	font-weight:normal;
	margin:3px 0;
}

.check input[type='text']{
	width:135px;
	height:14px;
	background:url(../images/fieldBG_142.png) center center no-repeat;
	border:none;
	text-indent:5px;
	padding:5px 4px 3px 3px;
	float:left;
	color:#7E7C72;
	margin-right:5px;
}
.check input[type='image']{
	margin-top:1px;
	float:left;
}
.check select{
	float:left;
	margin-right:5px;
	margin-top:3px;
}
.select_block{
	width:275px;
	float:left;
}
.select_block select{
	width:275px
}
.select_block input[type='submit'],.field_block input[type='submit']{
	background:url(../images/btn_bg.png) no-repeat;
	width:80px;
	height:30px;
	color:#ffffff;
	text-shadow:#000000 1px 1px;
	border:none;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	float:right;
}
.btn_div{
	padding-top:15px
}
.h_container .first{
	margin-right:30px;
}
.bottom{
	width:960px;
	clear:both;
}
.result_table td, .result_table th{
	text-align:left;
	border:none;
	
}
.result_table .rate_price{
	text-align:right;
}
.field_heading_agent th{
	background:#B7B6AA;
	color:#ffffff;
	font-weight:normal;
}
.grdstyle1_agent{
	border-bottom:1px dotted #B7B6AA;
}
.grdstyle1_agent td,.grdstyle1_agent th{
	height:20px;
	padding:3px;
}
.result_table .img_btn{
	background: none repeat scroll 0 0 #E8E8E2;
    border: 1px solid #D5D4CB;
    display: block;
    padding: 5px;
	float:left;
}
.result_table .hotelName{
	border-bottom: 1px dotted #7E7C72;
    color: #074575;
    font-family: 'Cuprum',arial,serif;
    font-size: 24px;
    font-weight: normal;
}
.bookNow{
	color:#004877;
}
/**** Footer -----*/
#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 130px;
	clear:both;
	padding-top:10px;
	color:#ffffff;
	background:#898989 url(../images/footer-bg.jpg) repeat-x top;
} 
#footer .footercontents {
	width:960px;
	margin:0 auto;
	padding-top:0px;
	color:#999999;
	height:160px;
}
#footer .footercontents .footernavigater {
	height:170px;
	clear:both;
}
#footer .footerBlock{
	width:234px;
	float:left;
	height:170px;
	margin-right:10px;
}
#footer .footerBlock h1{
	font-size:18px;
	background:url(../images/dot.gif) bottom repeat-x;
	padding:0px 0 8px 0;
	margin-right:5px;
	position:relative;
	height:15px;
	color:#EFEFEB;
	font-weight:bold;
}
#footer .footerBlock h1.hHeader{
	text-indent:10px;
}
#footer .footerBlock a{
	display:block;
	height:10px;
	padding:8px 0 8px 0;
	border-bottom:1px dotted #004a62;
	margin-right:5px;
}
#footer .footerBlock h1 a {
	border-bottom:none;
}
#footer .footerBlock a:hover{
	background:#001f37;
	color:#ffffff;
	text-decoration:none;
}

#footer .footerBlock a:link,#footer .footerBlock a:visited{
	color:#6992b2;
}

.vsep{
	background:url(../images/footerVSep.gif) right top no-repeat;
}
#footer .coppyrightfooter{
	background:url(../images/footerHSep.png) top center no-repeat;
	height:40px;
	padding-top:12px;
	margin-top:5px;
	text-align:center;
	color:#002d3c;
}

#footer .coppyrightfooter span{
	color:#CCCCCC;
	}
#footer .footerBlock #footerHLeft{
	width:16px;
	height:16px;
	position:absolute;
	left:0;
	top:0;
	background: url(../images/Arrow-left.gif) center 2px no-repeat;
	line-height:1;
	padding:4px 0 8px 0;
}
#footer .footerBlock #footerHRight{
	width:16px;
	height:16px;
	position:absolute;
	right:0;
	top:0;
	background: url(../images/Arrow-right.gif) center 2px no-repeat;
	line-height:1;
	padding:4px 0 8px 0;
}
#footer .footerBlock #footerHLeft:hover{
	background: url(../images/Arrow-left.gif) center 2px no-repeat;
}
#footer .footerBlock #footerHRight:hover{
	background: url(../images/Arrow-right.gif) center 2px no-repeat;
}
